@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: Artico;
  src: url('/public/fonts/cretype  Artico.otf');
}

@font-face {
  font-family: Artico;
  src: url('/public/fonts/cretype  Artico Black.otf');
  font-weight: 900;
}

@font-face {
  font-family: Artico;
  src: url('/public/fonts/cretype  Artico ExtraBold.otf');
  font-weight: 800;
}

@font-face {
  font-family: Artico;
  src: url('/public/fonts/cretype  Artico Bold.otf');
  font-weight: 700;
}

@font-face {
  font-family: Artico;
  src: url('/public/fonts/cretype  Artico Medium.otf');
  font-weight: 500;
}

body {
  margin: 0;
  font-family: 'Artico', 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: black;
  color: white;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

#walletconnect-qrcode-modal .walletconnect-modal__base {
  background: rgb(3, 26, 18);
  background: linear-gradient(0deg, rgba(3, 26, 18, 1) 0%, rgba(12, 105, 71, 1) 100%);
}


#walletconnect-qrcode-modal .walletconnect-qrcode__text {
  color: #fff;
}

#walletconnect-qrcode-text+div {
  max-width: 330px;
  margin: 0 auto;
}

#walletconnect-qrcode-text+div svg {
  box-shadow: rgb(34 233 161 / 68%) 1px 1px 40px 1px;
}

#walletconnect-qrcode-modal .walletconnect-modal__mobile__toggle_selector {
  background: #39a27b;
  color: white;
}

#walletconnect-qrcode-modal .walletconnect-modal__mobile__toggle {
  background: #063021;
  color: white;
}

#walletconnect-qrcode-modal .walletconnect-modal__footer a {
  color: white;
}

#walletconnect-qrcode-modal .walletconnect-connect__button__text {
  color: white;
}

#walletconnect-qrcode-modal .walletconnect-search__input {
  color: black;
}